body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fffffff9;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #000000;
    padding: 1rem 0;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #020202;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 2rem;
  }
  
  #bahaya-merokok h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #2a2a2a;
    margin-bottom: 1.5rem;
  }
  
  h2 {
    font-size: 1.8rem;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  
  ul {
    margin-left: 20px;
  }
  
  ul li {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  strong {
    color: #007b5e;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  @media (max-width: 768px) {
    header nav ul li {
      display: block;
      margin: 10px 0;
    }
  
    main {
      padding: 1rem;
    }
  
    #bahaya-merokok h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  }